@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    padding: 20px;
  }

  h1 {
    font-size: 2rem;
  }

  .content {
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo */
  }

  .circle-timer {
    width: 180px;
    height: 180px;
  }

  .progress-ring__circle {
    stroke-width: 6;
  }

  .timer {
    font-size: 2.5rem;
  }

  .controls {
    text-align: center;
  }

  .controls button,
  .extra-controls button {
    font-size: 0.9rem;
    padding: 12px 30px;
    margin: 8px; /* Reduz o espaçamento entre os botões */
  }

  #settings {
    width: 60%;
    font-size: 0.8rem;
    padding: 10px 10px;
  }

  .history {
    font-size: 1rem;
  }

  .modal-content {
    width: 80%;
    padding: 20px;
  }

  .form-row label {
    width: 120px;
  }

  .form-row select {
    width: 100px;
  }

  .modal-content h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 95%;
    padding: 15px;
  }

  h1 {
    font-size: 1.8rem;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .circle-timer {
    width: 150px;
    height: 150px;
  }

  .progress-ring__circle {
    stroke-width: 4;
  }

  .timer {
    font-size: 2rem;
  }

  .controls {
    text-align: center;
  }

  .controls button,
  .extra-controls button {
    font-size: 0.8rem;
    padding: 10px 20px;
    margin: 6px; /* Reduz o espaçamento entre os botões */
  }

  #settings {
    width: 60%;
    font-size: 0.8rem;
    padding: 10px 10px;
  }

  .history {
    font-size: 0.9rem;
  }

  .modal-content {
    width: 90%;
  }

  .modal-content h2 {
    font-size: 1.4rem;
  }

  .form-row label {
    font-size: 0.8rem;
    width: 100px;
  }

  .form-row select {
    width: 90px;
    padding: 6px;
  }

  /* Ajusta o botão do modo escuro */
  #toggle-mode {
    font-size: 0.9rem;
    padding: 10px 25px;
    margin: 8px 0;
  }

  /* Ajusta os ícones no modo escuro para um tamanho menor */
  #toggle-mode i {
    font-size: 1.2rem;
    margin-right: 8px;
  }
}
